@charset "utf-8";

*{
  margin: 0;
  padding: 0;
  color: white;
  list-style: none;
  font-weight: normal;
}

body{
  background-color: black;
  width: 100%;
}

a{
  text-decoration: none;
}

.top_right_fixed{
  position: fixed;
  z-index: 997;
  top: 0;
  right: 0;
}

.border_div{
  width: 20vw;
  margin: 0 auto;
  border-bottom: solid 1px white;
}
.long_border_div{
  width: 70%;
  margin: 30px auto;
  border-top: solid 1px white;
}

@media screen and (orientation: portrait) {

  .border_div{
    width: 20vw;
    margin: 0 auto;
    border-bottom: solid 1px white;
  }
  .long_border_div{
    width: 70%;
    margin: 30px auto;
    border-top: solid 1px white;
  }

  .global_nav{
    background-color: rgba(0,0,0,0.8);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .global_nav_menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10%;
  }
  .gnav_menu_item{
    font-size: 12px;
    margin-bottom: 30px;
    font-family: serif;
    position: relative;
  }
  .gnav_menu_item span{
    font-size: 2em;
    margin-right: 1vw;
    font-family: sans-serif;
  }


  /* 縦横比固定 */
  .aspect_fixed {
    position: relative;
    width: 100%;
  }
  .aspect_fixed:before {
    content:"";
    display: block;
    padding-top: 50%;
  }
  .top_title{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    background-size: cover;
    background-position: center;
    background-image:url(image/headerImage_top.jpg);
  }

  .scrolldown1{
    display: none;
  }

  .title_text{
    margin: auto auto 7% 5%;
    text-align: center;
  }

  .top_title h1{
    color: black;
    text-shadow: 0 0 5px white , 0 0 5px white;
    font-weight: bold;
    font-size: 7vw;
    font-family: 'Marcellus', serif;
  }

  .top_title p{
    color: black;
    text-shadow: 0 0 1px white , 0 0 1px white;
    font-size: 3vw;
    font-family: serif;
  }

  .section_h2{
    margin: 30px auto 30px;
    padding-top: 30px;
    font-size: 6vw;
    font-family: 'Abel', sans-serif;
    font-weight: lighter;
    text-align: center;
    opacity: .8;
  }

  .about{
    background-size: cover;
    background-position: center;
    background-image:url(image/about_item.jpg);
  }

  .about h3{
    margin-bottom: 20px;
    font-family: serif;
    text-align: center;
    font-size: 4vw;
    letter-spacing: 2px;
  }

  .about p{
    font-family: serif;
    text-align: center;
    font-size: 2.5vw;
    letter-spacing: 1px;
    line-height: 6vw;
  }


  .project_flex{
    display: flex;
    flex-wrap: wrap;
  }

  .project_item{
    width: 50vw;
    height: 50vw;
  }

  .project a{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
  }
  .project a span{
    font-size: 6vw;
    font-family: 'Abel', sans-serif;
    text-shadow: 2px 0 2px black , 1px 0 2px black;
    position: absolute;
    top: 63%;
  }

  .wedding_item{
    background-size: cover;
    background-position: center;
    background-image:url(image/wedding_square.jpg);
  }
  .youtube_item{
    background-size: cover;
    background-position: center;
    background-image:url(image/youtube_square.jpg);
  }
  .photo_item{
    background-size: cover;
    background-position: center;
    background-image:url(image/photo_square.jpg);
  }
  .corporation_item{
    background-size: cover;
    background-position: center;
    background-image:url(image/corporation_square.jpg);
  }


  table{
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
  }
  th{
    width: 30%;
  }
  th,td{
    color: black;
    font-size: 3.5vw;
    padding: 15px;
    letter-spacing: 1px;
    border: solid 1px rgb(180, 180, 180);
  }
  .textcenter{
    text-align: center;
  }
  .bg_darkgray{
    background-color: rgb(200, 200, 200);
  }
  .bg_gray{
    background-color: rgb(215, 215, 215);
  }
  .bg_whitegray{
    background-color: rgb(230, 230, 230);
  }
  .bg_white{
    background-color: rgb(255, 255, 255);
  }





  /* プロジェクト */

  .page_link_nav{
    display: none;
  }

  .projeck_main{
    text-align: center;
  }
  .about_p{
    text-align: start;
    letter-spacing: 1px;
    font-size: 3.5vw;
    width: 85%;
    margin: 0 auto;
  }

  .project_title{
    width: 90%;
    margin: 0 auto 40px;
    padding-top: 40px;
  }

  .project_title h1{
    font-weight: bold;
    font-size: 7vw;
    font-family: 'Marcellus', serif;
  }

  .project_title p{
    font-size: 3vw;
    font-family: serif;
  }

  .project_name{
    margin: 20px auto;
    opacity: 0.7;
  }

  .content_name{
    margin: 20px auto;
  }

  .content_h2{
    margin: 0 auto 7px;
    font-size: 7vw;
    font-family: 'Abel', sans-serif;
    font-weight: lighter;
  }
  .content_p{
    margin: 9px auto 0;
    font-size: 3.5vw;
  }

  .project_img{
    width: 100vw;
    max-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .project_img img{
    width: 100vw;
  }

  .ytb_iframe{
    width: 80%;
    height:0;
    position: relative;
    padding-top: 56.25%;
    margin: 30px auto 200px;
  }
  .ytb_iframe iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }





  /* プライバシーポリシー */

  .privacy_image{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
  }
  .privacy_image img{
    width: 100%;
    margin: 0 auto;
    max-width: 600px;
  }

  .privacy_main{
    width: 90%;
    margin: 0 auto;
  }
  .space_height{
    height: 70px;
  }
  .privacy_main h1{
    margin: 0 auto 8px;
    text-align: center;
    font-size: 7vw;
  }
  .privacy_p{
    text-align: center;
    margin: 8px auto 20px;
  }
  
  .privacy_main h2{
    margin: 60px auto 20px;
    text-align: center;
    font-size: 6vw;
  }

  .privacy_main p,
  .privacy_main li{
    font-family: serif;
    font-size: 4vw;
    letter-spacing: 1px;
  }




  /* フッター */

  footer{
    text-align: center;
  }

  .footer_title{
    margin: 30px auto 10px;
  }

  .footer_title h1{
    font-weight: bold;
    font-size: 7vw;
    font-family: 'Marcellus', serif;
  }

  .footer_title p{
    font-size: 3vw;
    font-family: serif;
  }

  .footer_flex{
    display: flex;
    justify-content: center;
  }

  .footer_box{
    width: 20vw;
    font-size: 4vw;
    margin: 15px;
    padding: 10px 5px;
    letter-spacing: 1px;
    border: solid 1px white;
    font-family: 'Abel', sans-serif;
  }

  .privacy , .operation{
    font-size: 2vw;
    text-decoration-line: underline;
    margin: 5px;
  }

  .lastP{
    font-size: 2vw;
    margin: 10px auto 30px;
  }



  /* ------------------script------------------- */


  /* 画面をスクロールしたらフェードイン */
  .fadeIn{
    animation-name: fadeInAnime;
    animation-duration:1.5s;
    animation-fill-mode:forwards;
    opacity:0;
    }
    @keyframes fadeInAnime{
      from {opacity: 0;}
      to {opacity: 1;}
    }  
    .fadeInTrigger{
        opacity: 0;
    }



  /* クリックでハンバーガーをバツにする処理 */
    /*ボタン外側*/
  .openbtn8{
    position: relative;/*ボタン内側の基点となるためrelativeを指定*/
    width: 50px;
    height:50px;
    border-radius: 5px;
  }
  /*ボタン内側*/
  .openbtn8 .openbtn-area{
    transition: all .6s;/*アニメーションの設定*/
    width:50px;
    height:50px;
  }
  .openbtn8 span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 2px;
    border-radius: 1px;
    background: #fff;
    width: 50%;
    box-shadow: 0 0 3px black;
  }
  .openbtn8 span:nth-of-type(1) {
    top:15px; 
  }
  .openbtn8 span:nth-of-type(2) {
    top:23px;
  }
  .openbtn8 span:nth-of-type(3) {
    top:31px;
  }
  /*activeクラスが付与されると .openbtn-areaが360度回転し、その中の線が回転して×に*/
  .openbtn8.active .openbtn-area{
    transform: rotate(180deg);
  }
  .openbtn8.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
  }
  .openbtn8.active span:nth-of-type(2) {
    opacity: 0;
  }
  .openbtn8.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
  }



  /* ハンバーガーをクリックしたらナビを表示する処理 */
  .click_fade_nav{
    position: fixed;
    z-index: 996;
    width: 100vw;
    height: 100vh;
    display: none;
  }



  /* スクロールで左にスライドフェード */
  .left_slide_fade{
    position: relative;
    left: 30px;
    opacity: 0;
  }



  /* ページローディングGIF画像 */
  .loading{
    position: fixed;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 1;
  }
  .loading img{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
  }
  .loading p{
    display: inline-block;
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 15px;
  }



  /* ページローディング画面遷移 */
  .loaded_screen_top,
  .loaded_screen_bottom{
    content: "";
    position:fixed;
    z-index: 998;
    width: 100%;
    height: 100vh;
    background-color: black;/*伸びる背景色の設定*/
  }
  .loaded_screen.loaded .loaded_screen_top{
    animation-name:PageAnime;
    animation-duration:1.3s;
    animation-timing-function:ease-in-out;
    animation-fill-mode:forwards;
    bottom:50%;
    left:0;
    transform: scaleY(1);
  }
  @keyframes PageAnime{
    0% {
      transform-origin:top;
      transform:scaleY(1);
    }
    100% {
      transform-origin:top;
      transform:scaleY(0);
    }
  }
  .loaded_screen.loaded .loaded_screen_bottom{
    animation-name:PageAnime2;
    animation-duration:1.3s;
    animation-timing-function:ease-in-out;
    animation-fill-mode:forwards;
    top: 50%;
    left:0;
    transform: scaleY(1);
  }
  @keyframes PageAnime2{
    0% {
      transform-origin:bottom;
      transform:scaleY(1);
    }
    100% {
      transform-origin:bottom;
      transform:scaleY(0);
    }
  }



  /* 上向き、下向き、右向きにスライドフェードイン */
  .right_slide_fadeIn{
    transition: 0.5s all;
    transform: translateX(-10px);
    opacity: 0;
  }
  .right_slide_fadeIn.active{
    transform: translateX(0);
    opacity: 1;
  }
  .left_slide_fadeIn{
    transition: 0.5s all;
    transform: translateX(10px);
    opacity: 0;
  }
  .left_slide_fadeIn.active{
    transform: translateX(0);
    opacity: 1;
  }
  .up_slide_fadeIn{
    transition: 0.5s all;
    transform: translateY(5px);
    opacity: 0;
  }
  .up_slide_fadeIn.active{
    transform: translateY(0);
    opacity: 1;
  }
  .under_slide_fadeIn{
    transition: 0.5s all;
    transform: translateY(-5px);
    opacity: 0;
  }
  .under_slide_fadeIn.active{
    transform: translateY(0);
    opacity: 1;
  }


  
}




@media screen and (orientation: landscape) {

  .border_div{
    width: 6vw;
    margin: 0 auto;
    border-bottom: solid 1px white;
  }
  .long_border_div{
    width: 70%;
    margin: 30px auto;
    border-top: solid 1px white;
  }


  .global_nav{
    background-color: rgba(0,0,0,0.8);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .global_nav_menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10%;
  }
  .gnav_menu_item{
    font-size: 15px;
    margin-bottom: 40px;
    font-family: serif;
    position: relative;
  }
  .gnav_menu_item span{
    font-size: 2em;
    margin-right: 2vw;
    font-family: sans-serif;
  }

    /*スクロールダウン全体の場所*/
  .scrolldown1{
    /*描画位置※位置は適宜調整してください*/
  position:fixed;
  z-index: -1;
  left:90%;
  bottom:15vh;
    /*全体の高さ*/
  height:50px;
  }

  /*Scrollテキストの描写*/
  .scrolldown1 span{
    /*描画位置*/
  position: absolute;
  left:-23px;
  top: -23px;
    /*テキストの形状*/
  color: black;
  font-family: serif;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.05em;
  }

  /* 線の描写 */
  .scrolldown1::after{
  content: "";
    /*描画位置*/
  position: absolute;
  top: 0;
    /*線の形状*/
  width: 3px;
  height: 30px;
  background: black;
    /*線の動き1.4秒かけて動く。永遠にループ*/
  animation: pathmove 1.4s ease-in-out infinite;
  opacity:0;
  }

  /*高さ・位置・透過が変化して線が上から下に動く*/
  @keyframes pathmove{
  0%{
    height:0;
    top:0;
    opacity: 0;
  }
  30%{
    height:30px;
    opacity: 1;
  }
  100%{
    height:0;
    top:50px;
    opacity: 0;
  }
  }

  .container{
    background-color: black;
  }
  .space_height2{
    height: 13vh;
    z-index: 3;
  }

  .aspect_fixed{
    width: 100vw;
    height: 75vh;
  }
  .top_title{
    position: fixed;
    width: 100vw;
    height: 75vh;
    z-index: -1;
    display: flex;
    background-size: cover;
    background-position: center;
    background-image:url(image/headerImage_top.jpg);
  }

  .title_text{
    margin: auto auto 4% 2%;
    text-align: center;
  }

  .top_title h1{
    color: black;
    text-shadow: 0 0 10px white , 0 0 10px white;
    font-weight: bold;
    font-size: 7vw;
    font-family: 'Marcellus', serif;
  }

  .top_title p{
    color: black;
    text-shadow: 0 0 3px white , 0 0 3px white;
    font-size: 3vw;
    font-family: serif;
  }

  .section_h2{
    margin: 0 auto 50px;
    padding-top: 100px;
    font-size: 3vw;
    font-family: 'Abel', sans-serif;
    font-weight: lighter;
    text-align: center;
    opacity: .8;
  }

  .about{
    background-size: contain;
    background-position: center;
    background-image:url(image/about_item.jpg);
  }

  .about h3{
    margin: 100px auto 50px;
    font-family: serif;
    text-align: center;
    font-size: 2.5vw;
    letter-spacing: 2px;
  }

  .about p{
    font-family: serif;
    text-align: center;
    font-size: 1.5vw;
    letter-spacing: 1px;
    line-height: 5vw;
  }


  .project_flex{
    display: flex;
    flex-wrap: wrap;
  }

  .project_item{
    width: 25vw;
    height: 40vw;
  }

  .project a{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
  }
  .project a span{
    font-size: 3.5vw;
    font-family: 'Abel', sans-serif;
    text-shadow: 5px 0 5px black , 2px 0 3px black;
    position: absolute;
    top: 70%;
    left: 5%;
  }

  .wedding_item{
    background-size: cover;
    background-position: right;
    background-image:url(image/wedding_square.jpg);
    transition: all 0.5s;
    opacity: 0.8;
  }
  .wedding_item:hover{
    opacity: 1;
  }
  .youtube_item{
    background-size: cover;
    background-position: center;
    background-image:url(image/youtube_square.jpg);
    transition: all 0.5s;
    opacity: 0.8;
  }
  .youtube_item:hover{
    opacity: 1;
  }
  .photo_item{
    background-size: cover;
    background-position: center;
    background-image:url(image/photo_square.jpg);
    transition: all 0.5s;
    opacity: 0.8;
  }
  .photo_item:hover{
    opacity: 1;
  }
  .corporation_item{
    background-size: cover;
    background-position: center;
    background-image:url(image/corporation_square.jpg);
    transition: all 0.5s;
    opacity: 0.8;
  }
  .corporation_item:hover{
    opacity: 1;
  }


  table{
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
  }
  th{
    width: 15%;
    min-width: 5vw;
  }
  th,td{
    color: black;
    font-size: 1vw;
    padding: 10px;
    letter-spacing: 1px;
    border: solid 1px rgb(180, 180, 180);
  }
  .textcenter{
    text-align: left;
  }
  .bg_darkgray{
    background-color: rgb(200, 200, 200);
  }
  .bg_gray{
    background-color: rgb(215, 215, 215);
  }
  .bg_whitegray{
    background-color: rgb(230, 230, 230);
  }
  .bg_white{
    background-color: rgb(255, 255, 255);
  }



  /* プロジェクト */

  .page_link_nav{
    display: block;
  }
  .page_link_nav li{
    display: inline;
    font-family: 'Abel', sans-serif;
    font-weight: lighter;
    margin: 0 20px 0 20px;
  }

  .projeck_main{
    text-align: center;
  }
  .about_p{
    text-align: start;
    letter-spacing: 2px;
    font-size: 1.2vw;
    width: 60%;
    margin: 0 auto;
    line-height: 40px;
  }

  .project_title{
    margin: 0 auto 15px;
    padding-top: 40px;
  }

  .project_title h1{
    font-weight: bold;
    font-size: 3vw;
    font-family: 'Marcellus', serif;
  }

  .project_title p{
    font-size: 1vw;
    font-family: serif;
  }

  .project_name{
    margin: 80px auto 40px;
    opacity: 0.7;
  }

  .content_name{
    margin: 50px auto;
  }

  .content_h2{
    margin: 0 auto 7px;
    font-size: 3vw;
    font-family: 'Abel', sans-serif;
    font-weight: lighter;
  }
  .content_p{
    margin: 10px auto 0;
    font-size: 1.5vw;
  }

  .project_img{
    width: 100vw;
    max-height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .project_img img{
    width: 100vw;
  }

  .ytb_iframe{
    width: 40%;
    height:0;
    position: relative;
    padding-top: 22.5%;
    margin: 80px auto 200px;
  }
  .ytb_iframe iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }





  /* プライバシーポリシー */

  .privacy_image{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
  }
  .privacy_image img{
    width: 100%;
    margin: 0 auto;
    max-width: 800px;
  }

  .privacy_main{
    width: 50%;
    margin: 0 auto;
  }
  .space_height{
    height: 70px;
  }
  .privacy_main h1{
    margin: 0 auto 8px;
    text-align: center;
    font-size: 3vw;
  }
  .privacy_p{
    text-align: center;
    margin: 8px auto 80px;
  }
  
  .privacy_main h2{
    margin: 100px auto 50px;
    text-align: center;
    font-size: 3vw;
  }

  .privacy_main p,
  .privacy_main li{
    font-family: serif;
    font-size: 2vw;
    letter-spacing: 1px;
  }




  /* フッター */

  footer{
    text-align: center;
    padding-top: 200px;
  }

  .footer_title{
    margin: 80px auto 40px;
  }

  .footer_title h1{
    font-weight: bold;
    font-size: 5vw;
    font-family: 'Marcellus', serif;
  }

  .footer_title p{
    font-size: 2vw;
    font-family: serif;
  }

  .footer_flex{
    display: flex;
    justify-content: center;
  }

  .footer_box{
    display: block;
    background-color: black;
    color: white;
    width: 15vw;
    font-size: 2vw;
    margin: 15px 15px 50px 15px;
    padding: 10px;
    letter-spacing: 1px;
    border: solid 1px white;
    font-family: 'Abel', sans-serif;
    transition: all 1s;
  }
  .footer_box:hover{
    background-color: white;
    color: black;
    text-shadow: 2px 2px 3px rgb(100, 100, 100);
  }

  .privacy , .operation{
    font-size: 1.2vw;
    text-decoration-line: underline;
    margin: 20px;
    letter-spacing: 1px;
  }

  .lastP{
    font-size: 1.3vw;
    margin: 10px auto 0;
    padding-bottom: 30px;
    letter-spacing: 2px;
  }





  /* ------------------script------------------- */


  /* 画面をスクロールしたらフェードイン */
  .fadeIn{
    animation-name: fadeInAnime;
    animation-duration:1.5s;
    animation-fill-mode:forwards;
    opacity:0;
    }
    @keyframes fadeInAnime{
      from {opacity: 0;}
      to {opacity: 1;}
    }  
    .fadeInTrigger{
        opacity: 0;
    }



  /* クリックでハンバーガーをバツにする処理 */
    /*ボタン外側*/
  .openbtn8{
    position: relative;/*ボタン内側の基点となるためrelativeを指定*/
    width: 100px;
    height:100px;
    border-radius: 10px;
  }
  /*ボタン内側*/
  .openbtn8 .openbtn-area{
    transition: all .6s;/*アニメーションの設定*/
    width:100px;
    height:100px;
  }
  .openbtn8 span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 28px;
    height: 4px;
    border-radius: 2px;
    background: #fff;
    width: 50%;
    box-shadow: 0 0 6px black;
  }
  .openbtn8 span:nth-of-type(1) {
    top:30px; 
  }
  .openbtn8 span:nth-of-type(2) {
    top:46px;
  }
  .openbtn8 span:nth-of-type(3) {
    top:62px;
  }
  /*activeクラスが付与されると .openbtn-areaが360度回転し、その中の線が回転して×に*/
  .openbtn8.active .openbtn-area{
    transform: rotate(180deg);
  }
  .openbtn8.active span:nth-of-type(1) {
    top: 36px;
    left: 36px;
    transform: translateY(12px) rotate(-45deg);
    width: 30%;
  }
  .openbtn8.active span:nth-of-type(2) {
    opacity: 0;
  }
  .openbtn8.active span:nth-of-type(3){
    top: 60px;
    left: 36px;
    transform: translateY(-12px) rotate(45deg);
    width: 30%;
  }



  /* ハンバーガーをクリックしたらナビを表示する処理 */
  .click_fade_nav{
    position: fixed;
    z-index: 996;
    width: 100vw;
    height: 100vh;
    display: none;
  }



  /* スクロールで左にスライドフェード */
  .left_slide_fade{
    position: relative;
    left: 30px;
    opacity: 0;
  }



  /* ページローディングGIF画像 */
  .loading{
    position: fixed;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 1;
  }
  .loading img{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
  }
  .loading p{
    display: inline-block;
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 15px;
  }



  /* ページローディング画面遷移 */
  .loaded_screen_top,
  .loaded_screen_bottom{
    content: "";
    position:fixed;
    z-index: 998;
    width: 100%;
    height: 100vh;
    background-color: black;/*伸びる背景色の設定*/
  }
  .loaded_screen.loaded .loaded_screen_top{
    animation-name:PageAnime;
    animation-duration:1.3s;
    animation-timing-function:ease-in-out;
    animation-fill-mode:forwards;
    bottom:50%;
    left:0;
    transform: scaleY(1);
  }
  @keyframes PageAnime{
    0% {
      transform-origin:top;
      transform:scaleY(1);
    }
    100% {
      transform-origin:top;
      transform:scaleY(0);
    }
  }
  .loaded_screen.loaded .loaded_screen_bottom{
    animation-name:PageAnime2;
    animation-duration:1.3s;
    animation-timing-function:ease-in-out;
    animation-fill-mode:forwards;
    top: 50%;
    left:0;
    transform: scaleY(1);
  }
  @keyframes PageAnime2{
    0% {
      transform-origin:bottom;
      transform:scaleY(1);
    }
    100% {
      transform-origin:bottom;
      transform:scaleY(0);
    }
  }



  /* 上向き、下向き、右向きにスライドフェードイン */
  .right_slide_fadeIn{
    transition: 0.5s all;
    transform: translateX(-10px);
    opacity: 0;
  }
  .right_slide_fadeIn.active{
    transform: translateX(0);
    opacity: 1;
  }
  .left_slide_fadeIn{
    transition: 0.5s all;
    transform: translateX(10px);
    opacity: 0;
  }
  .left_slide_fadeIn.active{
    transform: translateX(0);
    opacity: 1;
  }
  .up_slide_fadeIn{
    transition: 0.5s all;
    transform: translateY(5px);
    opacity: 0;
  }
  .up_slide_fadeIn.active{
    transform: translateY(0);
    opacity: 1;
  }
  .under_slide_fadeIn{
    transition: 0.5s all;
    transform: translateY(-5px);
    opacity: 0;
  }
  .under_slide_fadeIn.active{
    transform: translateY(0);
    opacity: 1;
  }


}